<!DOCTYPE html>
<html lang="ja">
  <head>
    <%if false %>
      Viewの先頭に <% content_for(:html_title) { 'Title' } %> でtitleを指定する
    <%end %>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Ideash" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>