<!DOCTYPE html>
<html lang="ja">
<head>
  <%# 本番環境でのみGoogleアナリティクスを有効化する %>
  <% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170879736-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-170879736-1');
    </script>
  <% end %>

  <%# <% content_for(:html_title) { 'Title' } \%\> でtitleを指定する%>
  <title><%= content_for?(:html_title) ? yield(:html_title) : "Ideash" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- You MUST include jQuery before Fomantic -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>

  <%# フォントの読み込み %>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">

</head>
<body>
<% if Rails.env.development? %>
  <%= render :partial => 'shared/debug_menu' %>
<% end %>
<%= yield %>
</body>
</html>