<% content_for(:html_title) { 'top | Ideash' } %>
<!-- 背景緑部分 -->
<div class="top" id="top_img">
  <div class="seg_1">
    <div class="background_text no_select" id="home">
      <title>Ideash アイデア発想ツール</title>
      Inspiration<br>
      w /<br>
      Ideash<br>
    </div>
    <%= image_tag 'thinkman.webp', class: 'image_think_man no_select' %>
    <div class="btns_1">
      <div class="ui massive buttons btns_1_1">
        <%= link_to "Sign In", :account_signin, class: "ui inverted button" %>
        <div class="or"></div>
        <%= link_to "Sign Up", :account_signup, class: "ui black button" %>
      </div>
      <div class="ui styled accordion release_note_accordion">
        <div class="title accordion">
          <i class="dropdown icon"></i>
          リリースノート
        </div>
        <div class="content">
          <div class="ui list">
            <% @release_note.each do |row| %>
              <div class="item">
                <i class="angle right icon"></i>
                <div class="release_note_content">
                  <%= link_to row['description'].split("//")[0], release_note_path, class: 'header' %>
                  <div class="description"><%= row['date'] %></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seg_2">
    <div class="background_text no_select" id="concept">
      our Life is<br>
      Creative.<br>
      Creativity<br>
      fr Simple.<br>
      <%= image_tag 'icon_index.svg', class: 'icon_1 no_select' %>
    </div>
  </div>
</div>

<div class="gradation"></div>

<!-- 背景白部分 -->
<div class="about">

  <div class="seg_3"><!--　隙間　-->
  </div>

  <div class="seg_h1">
    <!--50文字以内-->
    <h1>アイデア出しが苦手な人に是非使ってもらいたいアプリ<br>ネット環境があれば使えるオンラインアイデア発想ツール</h1>
  </div>
  <div class="seg_4" id="about">
    <div class="headers">
      <h2>初めてでも、近くにいなくても</h2>
      <h3>Ideashは発想を容易にするツールです</h3>
    </div>
    <p>PCさえあれば簡単に発想手法を試すことができます。<br>
      専用の用紙やホワイトボードなど面倒な準備は一切必要ありません。シンプルな画面に従って作業を行うだけでクリエイティブな人生を送れるようになります。</p>
    <%= image_tag 'top_sample_1.webp', class: 'sample_1 no_select' %>
  </div>

  <div class="seg_5">
    <div class="headers">
      <h2>選ぶ、集まる、思いつく</h2>
      <h3>様々な場面での利用を想定</h3>
    </div>
    <p>Ideashの利用手順は<br>
      １　発想手法を選ぶ<br>
      ２　参加者を集める(リンクを渡すだけで参加できます)<br>
      ３　ツールの指示に従う<br>
      たったこれだけです。多様なテーマや参加人数に対応できるよう発想手法も複数用意されています。<br>
      さらに、アップデートを行い更に使いやすいツールへと進化していきます。</p>
    <%= image_tag 'top_sample_2.webp', class: 'sample_2 no_select' %>
    <br>
    <div class="function_show_btn">
      <%= link_to "使える機能を見てみる", top_category_path, class: "ui grey button" %>
    </div>
  </div>

  <div class="seg_6 ui center aligned">
    <h2>さあ、まずはサインアップしましょう</h2>
    <h2>Inspiration with Ideash</h2>
    <%= image_tag 'icon.svg', class: 'icon no_select' %>
    <div class="btn_2">
      <div class="ui huge buttons btns_2_1">
        <%= link_to "Sign In", :account_signin, class: "ui teal button" %>
        <div class="or"></div>
        <%= link_to "Sign Up", :account_signup, class: "ui black button" %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <%= image_tag 'thinkman.webp', class: 'man no_select' %>
  <ul class="footer-menu">
    <a href="#home">
      <li>home　｜　</li>
    </a>
    <a href="#concept">
      <li>concept 　｜　</li>
    </a>
    <a href="#about">
      <li>about</li>
    </a>
  </ul>
</div>