<% content_for(:html_title) { 'top | Ideash' } %>
<!-- 背景緑部分-->
<div class="top">
  <div class="seg_1">

    <%= image_tag 'index_thinkman.png', class: 'image_think_man no_select' %>

    <div class="backgound_text no_select">
      Inspiration<br>
      w/<br>
      Ideash<br>
    </div>

    <div class=" btns_1">
      <div class="ui massive buttons btns_1_1">
        <%= link_to "Sign In", :account_signin, class: "ui teal button" %>
        <div class="or"></div>
        <%= link_to "Sign Up", :account_signup, class: "ui black button" %>
        <!--        <h1>Comming soon!</h1> -->
      </div>
    </div>
  </div>
  <div class="seg_2">
    <div class="backgound_text no_select">
      our Life is<br>
      Creative.<br>
      Creativity<br>
      fr Simple.<br>
      <%= image_tag 'icon.png', class: 'icon_1' %>
    </div>
  </div>
</div>

<div class="gradation"></div>

<!-- 背景白部分-->
<div class="about">

  <div class="seg_3"><!--　隙間　-->
  </div>

  <div class="seg_4">
    <div class="headers">
      <h1>初めてでも、近くにいなくても</h1>
      <h2>Ideashは発想を容易にするツールです</h2>
    </div>
    <p>PCさえあれば簡単に発想手法を試すことができます。<br>
      専用の用紙やホワイトボードなど面倒な準備は一切必要ありません。シンプルな画面に従って作業を行うだけでクリエイティブな人生を送れるようになります。</p>
    <%= image_tag 'top_sample_1.png', class: 'sample_1' %>
  </div>

  <div class="seg_5">
    <div class="headers">
      <h1>選ぶ、集まる、思いつく</h1>
      <h2>様々な場面での利用を想定</h2>
    </div>
    <p>Ideashの利用手順は<br>
      １　発想手法を選ぶ<br>
      ２　参加者を集める(リンクを渡すだけで参加できます)<br>
      ３　ツールの指示に従う<br>
      たったこれだけです。多様なテーマや参加人数に対応できるよう発想手法も複数用意されています。<br>
      さらに、アップデートを行い更に使いやすいツールへと進化していきます。</p>
    <%= image_tag 'top_sample_2.png', class: 'sample_2' %>
  </div>

  <div class="seg_6 ui center aligned">
    <h2>さあ、まずはサインアップしましょう</h2>
    <h1>Inspiration with Ideash</h1>
    <%= image_tag 'icon_mini.png', class: 'icon' %>
    <div class="btn_2">
      <div class="ui massive buttons btns_2_1">
        <%= link_to "Sign In", :account_signin, class: "ui teal button" %>
        <div class="or"></div>
        <%= link_to "Sign Up", :account_signup, class: "ui black button" %>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<div class="footer">
  <%= image_tag 'thinkman.png', class: 'man' %>
  <ul class="footer-menu">
    <li>home　｜　</li>
    <li>about 　｜　</li>
    <li>service</li>
  </ul>
</div>