<%= render :partial => 'shared/homemenu' %>
<%= render :partial =>'shared/editmenu' %>
<%= render :partial => 'brainstorming/process_1' %>
<script>
    //読み込み時の表示
    window_load();
    //ウィンドウサイズ変更時に更新
    window.onresize = window_load;
    //サイズの表示
    function window_load() {
        var display_Width = window.parent.screen.width;
        var window_Width = window.innerWidth;
        var key_Width = display_Width / 3 * 2;

        let body = document.getElementById('home_body');

        if (window_Width <= key_Width) {
            document.getElementById('home_menu').innerHTML = '<div class="ui small sidebar inverted vertical menu" id="menu_toggle"">\n' +
                '  <div class="item">\n' +
                '    <%= image_tag "icon_mini.png", class: "ui mini imag menu_icon" %>\n' +
                '  </div>\n' +
                '  <%=link_to "新しいメモ", idea_memo_new_path, class: "item"%>\n' +
                '  <!--  <a class="item home-menu" href="#">ブレインストーミング</a>-->\n' +
                '  <!--  <a class="item home-menu" href="#">履歴</a>-->\n' +
                '  <!--  <a class="item home-menu" href="#">アカウント</a>-->\n' +
                '  <%=link_to "サインアウト", account_signout_path, class: "item"%>\n' +
                '  <small class="copyright">© 2020 by KUGATech team 5K</small>\n' +
                '</div>';

            body.className = 'home_body thin_margin';
        } else {
            document.getElementById('home_menu').innerHTML = '<div class="ui left fixed vertical inverted menu">\n' +
                '  <div class="item">\n' +
                '    <%= image_tag "icon_mini.png", class: "ui mini imag menu_icon" %>\n' +
                '  </div>\n' +
                '  <a class="item home-menu" href="/idea/category">新規作成</a>\n' +
                '  <a class="item home-menu" href="/idea/brainstorming/new">ブレインストーミング</a>\n' +
                '  <a class="item home-menu" href="/idea/history">履歴</a>\n' +
                '  <a class="item home-menu" href="">アカウント</a>\n' +
                '  <a class="item home-menu" href="">サインアウト</a>\n' +
                '  <small class="copyright">© 2020 by KUGATech team 5K</small>\n';
            body.className = 'home_body wide_margin';
        }
    }

    //ハンバーガー
    $('.home-sidebar').click(function() {
        $('#menu_toggle').sidebar('toggle');
    });
</script>
