<%= render :partial => 'shared/header' %>
<%= render :partial => 'shared/editmenu', locals: {users: @idea_users} %>
<span class="websocket" id="idea_logs" data-idea_id="<%= @idea.id %>"></span>
<div id="edit_body">
  <input type="button" value="アイデア出し" onclick="clickBtn1()"/>
  <input type="button" value="意見だし" onclick="clickBtn2()"/>
  <input type="button" value="グルーピング" onclick="clickBtn3()"/>
  <div id="process_1"><%= render :partial => 'brainstorming/process_1', locals: {idea: @idea, idea_logs: @idea_logs} %></div>
  <div id="process_2"><%= render :partial => 'brainstorming/process_2', locals: {idea: @idea, idea_logs: @idea_logs} %></div>
  <div id="process_3"><%= render :partial => 'brainstorming/process_3', locals: {idea: @idea, idea_logs: @idea_logs} %></div>
</div>
<script>
    <% res = ActiveRecord::Base.connection.execute("select * from idea_logs where idea_id = '#{@idea.id}' and JSON_EXTRACT(query, '$.mode') = 'system' limit 3")%>
    var is_process1 = <%= res[0]['is_active'] %>
    var is_process2 = <%= res[1]['is_active'] %>
    var is_process3 = <%= res[2]['is_active'] %>

    var p1 = document.getElementById("process_1")
    var p2 = document.getElementById("process_2")
    var p3 = document.getElementById("process_3")

    if (!is_process1) {
        p1.style.display = "block";
        p2.style.display = "none";
        p3.style.display = "none";
    } else if (!is_process2) {
        p1.style.display = "none";
        p2.style.display = "block";
        p3.style.display = "none";
    } else {
        p1.style.display = "none";
        p2.style.display = "none";
        p3.style.display = "block";
    }

    function clickBtn1() {
        p1.style.display = "block";
        p2.style.display = "none";
        p3.style.display = "none";
    }
    function clickBtn2() {
        p1.style.display = "none";
        p2.style.display = "block";
        p3.style.display = "none";
    }
    function clickBtn3() {
        p1.style.display = "none";
        p2.style.display = "none";
        p3.style.display = "block";
    }
</script>
<%# JSが書かれているため最後に書くこと %>
<%= render :partial => 'shared/homemenu' %>
<%= javascript_pack_tag "idea/brainstorming_channel" %>