<%= render :partial => 'shared/header' %>
<%= render :partial => 'shared/editmenu', locals: {users: @idea_users} %>
<span class="websocket" id="idea_logs" data-idea_id="<%= @idea.id %>"></span>
<input type="button" value="ボタン1" onclick="clickBtn11()" />
<input type="button" value="ボタン2" onclick="clickBtn22()" />
<input type="button" value="ボタン3" onclick="clickBtn33()" />
<input type="button" value="ボタン1" onclick="clickBtn1()" />
<input type="button" value="ボタン2" onclick="clickBtn2()" />
<input type="button" value="ボタン3" onclick="clickBtn3()" />
<div id="edit_body">
  <div id="process_1"><%= render :partial => 'brainstorming/process_1', locals: {idea: @idea, idea_logs: @idea_logs} %></div>
  <div id="process_2"><%= render :partial => 'brainstorming/process_2', locals: {idea: @idea, idea_logs: @idea_logs} %></div>
  <div id="process_3"><%= render :partial => 'brainstorming/process_3', locals: {idea: @idea, idea_logs: @idea_logs} %></div>
</div>
<script>
    document.getElementById("process_1").style.display = "block";
    document.getElementById("process_2").style.display = "none";
    document.getElementById("process_3").style.display = "none";

    function clickBtn1(){
        const p1 = document.getElementById("process_1");

        if(p1.style.display=="block"){
            // noneで非表示
            p1.style.display ="none";
        }else{
            // blockで表示
            p1.style.display ="block";
        }
    }
    function clickBtn2(){
        const p2 = document.getElementById("process_2");

        if(p2.style.display=="block"){
            // noneで非表示
            p2.style.display ="none";
        }else{
            // blockで表示
            p2.style.display ="block";
        }
    }
    function clickBtn3(){
        const p3 = document.getElementById("process_3");

        if(p3.style.display=="block"){
            // noneで非表示
            p3.style.display ="none";
        }else{
            // blockで表示
            p3.style.display ="block";
        }
    }
</script>
<%# JSが書かれているため最後に書くこと %>
<%= render :partial => 'shared/homemenu' %>
<%= javascript_pack_tag "idea/brainstorming_channel" %>