<div class="tech_about_body">
  <div class="ui segments block-tech-about">
    <div class="ui segment">
      <div class="techname">ブレインストーミング</div>
    </div>
    <div class="ui segment">
      <%= form_with url: idea_brainstorming_create_path, model: @user_idea, local: true do |f| %>
        <h4 class="header-text process">手順</h4>
        <ul>
          <li>手順①：テーマをもとに各自自由に発想する。思いついた事柄はどんどん入力していく。</li>
          <li>手順②：①で出たアイデアをメンバー内で共有する。質問やアイデアの結合を行う。</li>
          <li>手順③：アイデアを整理する。関連性を見つけながらグルーピングを行う。</li>
        </ul>
        <h4 class="header-text rule">ルール</h4>
        <ul>
          <li>批判禁止　出たいアイデアを批判したり、実現性を求めたりしないこと。</li>
          <li>自由奔放　柔軟なアイデアを出すために固定概念や慣習に囚われないようにする。</li>
          <li>質より量　思考の限界を超えられるよう、とにかくたくさんのアイデアを出すように心がける。</li>
        </ul>
        <h4 class="header-text timer-setting">時間設定(分)</h4>

        <% time_limit = []
           for num in 1..30
             time_limit.push ["#{num}分", num]
           end %>

        <div class="ui list">
          <div class="ui small right labeled input">
            <label class="ui label">手順①</label>
            <%= f.number_field 'process1', value: 10, readonly: true %>
            <div class="ui basic label">分</div>
          </div>
          <div class="item">
            <div class="ui labeled slider" id="brainstorming_slider_process1"></div>
          </div>

          <div class="ui small right labeled input">
            <label class="ui label">手順②</label>
            <%= f.number_field 'process2', value: 10, readonly: true %>
            <div class="ui basic label">分</div>
          </div>
          <div class="item">
            <div class="ui labeled slider" id="brainstorming_slider_process2"></div>
          </div>

          <div class="ui small right labeled input">
            <label class="ui label">手順③</label>
            <%= f.number_field 'process3', value: 10, readonly: true %>
            <div class="ui basic label">分</div>
          </div>
          <div class="item">
            <div class="ui labeled slider" id="brainstorming_slider_process3"></div>
          </div>
          <div class="ui checkbox item">
            <%= f.check_box 'is_unlimited' %><label>無制限モード</label>
          </div>
          <div class="item">※ 無制限モードでは設定した時間による強制的なプロセスの進行が行われないため、時間を気にせずアイデア発想を行うことができます。</div>
        </div>
        <h4 class="header-text  timer-setting">テーマ設定</h4>
        <div class="ui list">
          <div class="ui input item"><%= f.text_field 'theme', placeholder: "発想のテーマを入力してください", size: 50 %></div>
        </div>
        <h4 class="header-text">参加者(※招待する場合、開始後に右側に表示される招待ボタンをクリックしてURLをコピーし、他の参加者に伝えてください。)</h4>
        <div class="participant">
          <ul>
            <li>
              <i class="user circle icon"></i><%= current_user.user_name.blank? ? "Anonymous" : current_user.user_name %>
              (自分)
            </li>
          </ul>
        </div>
        <div class="ui center aligned grid">
          <div class="start-button">
            <%= f.submit 'はじめる', class: 'ui black button', id: 'start_button', disabled: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>