<% content_for(:html_title) { 'SignUp | Ideash' } %>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <%= image_tag 'icon.svg', class: 'image no_select' %>
      <div class="content">
        Sign-Up to your account
      </div>
    </h2>
    <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui large form"}) do |f| %>
    <%= form_for(resource, as: resource_name, url: :account_signup, html: {class: "ui large form"}) do |f| %>

      <div class="ui stacked segment">
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autoforcus: true, autocomplite: "email", placeholder: "E-mail address" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autoforcus: true, placeholder: "Password" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, autoforcus: true, placeholder: "Retype password" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Sign Up", class: 'ui fluid large teal submit button' %>
        </div>
      </div>

      <div class="ui error message"></div>
    <% end %>
    <div class="ui message">
      Have you signed in? <%= link_to 'Sign In', :account_signin %></a>
    </div>
  </div>
</div>