<%# マンダラート　メイン編集画面 %>
<div class="edit_body" id="edit_body">
  <%= render :partial => 'mandarat/shared' %>
  <div class="mandarat-main">
    <div class="to-up-area">
      <div id="to-up-button"><i class="caret down vertically flipped huge link icon"></i></div>
    </div>
    <div class="to-left-area">
      <div id="to-left-button"><i class="caret down clockwise rotated huge link icon"></i></div>
    </div>
    <div class="mandarat-blocks" id="zoom">
      <table border="1">
        <!--
        あとで書き換える
        縦に伸びてくから文字数制限つけて欲しい
        -->
        <tr>
          <td>
            <div class="text_block" id="zoom_div_0"></div>
            <textarea class="t0" id="zoom_0"></textarea>
          </td>
          <td>
            <div class="text_block" id="zoom_div_1"></div>
            <textarea class="t1" id="zoom_1"></textarea>
          </td>
          <td>
            <div class="text_block" id="zoom_div_2"></div>
            <textarea class="t2" id="zoom_2"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <div class="text_block" id="zoom_div_3"></div>
            <textarea class="t3" id="zoom_3"></textarea>
          </td>
          <td>
            <div class="text_block" id="zoom_div_4"></div>
            <textarea class="t4" id="zoom_4"></textarea>
          </td>
          <td>
            <div class="text_block" id="zoom_div_5"></div>
            <textarea class="t5" id="zoom_5"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <div class="text_block" id="zoom_div_6"></div>
            <textarea class="t6" id="zoom_6"></textarea>
          </td>
          <td>
            <div class="text_block" id="zoom_div_7"></div>
            <textarea class="t7" id="zoom_7"></textarea>
          </td>
          <td>
            <div class="text_block" id="zoom_div_8"></div>
            <textarea class="t8" id="zoom_8"></textarea>
          </td>
        </tr>
      </table>
    </div>

    <!--hiddenで無理やり-->
    <dev hidden>
      <% result = Hash.new %>
      <% for i in 0..8 do %>
        <% for j in 0..8 do %>
          <% result.store(i * 10 + j, "") %>
        <% end %>
      <% end %>
      <% result.store(44,idea.idea_name) %>
      <input type="hidden" id="44_main_theme" value=<%= idea.idea_name %>>
      <% for content in idea_logs do %>
        <% if content.query['mode'] == 'edit' %>
          <%= result[content.query["edit"]["object_id"]] = content.query["edit"]["content"] %>
        <% end %>
      <% end %>
      <% for i in 0..8 do %>
        <% for j in 0..8 do %>
          <input type="hidden" name="read_<%= i * 10 + j %>" value="<%= result[i * 10 + j] %>">
        <% end %>
      <% end %>
    </dev>

    <div class="to-right-area">
      <div id="to-right-button"><i class="caret down counterclockwise rotated huge link icon"></i></div>
    </div>
    <div class="to-down-area">
      <div id="to-down-button"><i class="caret down huge link icon"></i></div>
    </div>
  </div>
</div>