<div class="mandarat-shared">
  <div class="current-location-area" id="radio-btn">
    <div class="ui header" id="to_while_link">
      <a id="allview"><i class="compress arrows alternate icon"></i>全体を見る</a>
    </div>
    <table border="1">
      <% 3.times do |i| %>
        <tr>
          <% 3.times do |j| %>
            <td data-minimap="true" data-minimap-id=<%= (i * 3 + j) * 10 %>>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="themes-area">
    <div class="ui link list">
      <div class="active item">メインテーマ</div>
      <div class="item" id="main-theme"><p id="main"></p></div>
      <br>
      <div class="active item">サブテーマ</div>
      <table border="1" class="theme-tab">
        <% for i in 1..8 %>
          <tr>
            <td>
              <% if i < 5 then %>
                <div class="item" id="sub-theme-<%= i %>"><p class="themes" id="theme<%= i - 1 %>"></p></div>
              <% else %>
                <div class="item" id="sub-theme-<%= i %>"><p class="themes" id="theme<%= i %>"></p></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>