<span class="websocket-mandarat" id="idea_logs" data-idea_id="<%= @idea.id %>"></span>

<div id="process_2"><%= render :partial => 'mandarat/process_2', locals: {idea: @idea, idea_logs: @idea_logs} %></div>
<div id="process_1"><%= render :partial => 'mandarat/process_1', locals: {idea: @idea, idea_logs: @idea_logs} %></div>

<%= content_for :right_menu do %>
  <%= render :partial => 'shared/right_menu', locals: {users: @idea_users} %>
<% end %>