<%= render :partial => 'shared/header' %>
<div class="tech_about_body">
  <div id="home_body" class="" style="margin-top: -2px">
    <div class="ui segments block-tech-about">
      <div class="ui segment">
        <div class="techname">マンダラート(α)</div>
      </div>
      <div class="ui segment">
        <%= form_with url: idea_mandarat_create_path, model: @user_idea, local: true do |f| %>
          <h4 class="header-text process">手順</h4>
          <ul>
            <li>手順①：3*3のマスの中心にテーマを置き、関連語句や連想されるものを周りに記述していく</li>
            <li>手順②：①で出た語句をサブテーマとして中心に置き、①と同じ手順を繰り返す</li>
            <li>手順③：出てきた語句からアイデアへと繋がりそうなものを拾い上げていく</li>
          </ul>
          <h4 class="header-text rule">ルール</h4>
          <ul>
            <li>批判禁止　出たいアイデアを批判したり、実現性を求めたりしないこと。</li>
            <li>自由奔放　柔軟なアイデアを出すために固定概念や慣習に囚われないようにする。</li>
            <li>袋小路回避　</li>
          </ul>
          <h4 class="header-text timer-setting">時間設定</h4>
          <ul>
            <li>手順①：<%= f.text_field 'process1', value: '無制限', readonly: 'true' %>分</li>
            <li>手順②：<%= f.text_field 'process2', disabled: 'true' %>分</li>
            <li>手順③：<%= f.text_field 'process3', disabled: 'true' %>分</li>
          </ul>
          <h4 class="header-text  timer-setting">テーマ設定</h4>
          <ul>
            <li><%= f.text_field 'theme', placeholder: "発想のテーマを入力してください", size: 50 %></li>
          </ul>
          <h4 class="header-text">参加者(※招待する場合、開始後のURLをコピーして参加者に伝えてください。)</h4>
          <div class="participant">
            <ul>
              <li>
                <i class="user circle icon"></i><%= current_user.user_name.blank? ? "Anonymous" : current_user.user_name %>(自分)
              </li>
            </ul>
          </div>
          <div class="ui center aligned grid">
            <div class="start-button">
              <%= f.submit 'はじめる', class: 'ui black button' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'shared/homemenu' %>