<% content_for(:html_title) { 'SignIn | Ideash' } %>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <%= image_tag 'icon_mini.png', class: 'image' %>
      <div class="content">
        Sign-In to your account
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html:{class: "ui large form"}) do |f| %>
    <div class="ui stacked segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= f.email_field :email, autoforcus: true, autocomplite: "email", placeholder: "E-mail address" %>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <%= f.password_field :password, autoforcus: true, placeholder: "Password" %>
        </div>
      </div>
      <%= f.submit "Sign In", class: 'ui fluid large teal submit button' %>
    </div>
    <div class="ui error message"></div>

    <% end %>

    <div class="ui message">
      New to us? <%= link_to 'Sign Up', :account_signup %></a>

    </div>
  </div>
</div>


<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
