<%= javascript_pack_tag 'user/account' %>
<input type=hidden id="is_updated" value=<%= @is_updated %>>

<%= form_for current_user, url: {action: 'profile_update'} do |f| %>
    <div class="ui raised segment">
      <div class="account_name">アカウント設定</div>
      <div class="account_setting">
        <table class="ui very basic table">
          <tbody>
          <tr>
            <td><%= f.label :user_name %></td>
            <td>
              <div class="ui input">
                <%= f.text_field :user_name,id:"account_input" %>
              </div>
            </td>
            <td>
              <div class="actions">
                <%= f.submit "Update", class: "ui teal button" %>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div class="ui raised segment">
    <div class="account_name">サインアウト</div>
    <br>
    <div class="actions">
      <%= link_to "SignOut", account_signout_path, class: "ui inverted secondary button" %>
    </div>
  </div>
<% end %>