<%= render :partial => 'shared/header' %>
<%= form_for current_user, url: {action: 'profile_update'} do |f| %>
  <div class="home_body" id="home_body">
    <div class="account_segment">
      <div class="account_name">アカウント設定</div>
      <div class="account_setting">
        <table class="ui very basic table">
          <tbody>
          <tr>
            <td><%= f.label :user_name %></td>
            <td>
              <div class="ui input">
                <%= f.text_field :user_name %>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="actions">
          <%= f.submit "Update", class: "ui primary button" %>
        </div>
        <br><hr><br>
      </div>
      <div class="account_signout">
        <div class="actions">
          <%= link_to "サインアウト", account_signout_path, class: "ui orange button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%# JSが書かれているため最後に書くこと %>
<%= render :partial => 'shared/homemenu' %>