<div class="category_segment">
  <h1 class="header">Create New</h1>
  <ul class="horizontal-list categories">
    <%= link_to idea_memo_new_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Memo</div>
        <div class="techname_ja">メモ</div>
        <div><i class="edit huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：１人
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="memo-more-info"></i>もっと詳しく
        <div class="explain">
          考えていることを書き連ねる<br>ことで、考えを整理し発想を<br>しやすくする技法
        </div>
        <hr>
        <div class="recommend_point">
          真っ白なフィールドを思考で<br>埋めていくことで新しい発想<br>が可能
        </div>
      </li>
    <% end %>
    <%= link_to idea_brainstorming_new_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Brainstorming</div>
        <div class="techname_ja">ブレインストーミング</div>
        <div><i class="tags huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：２人〜
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="brainstorming-more-info"></i>もっと詳しく
        <div class="explain">
          集団でアイデアを出し合うこ<br>とによって相互交錯の連鎖反<br>応や発想の誘発を期待する技法
        </div>
        <hr>
        <div class="recommend_point">
          アイデアを出し合い、融合さ<br>せることで、斬新で質な発想<br>が可能<br>
        </div>
      </li>
    <% end %>
    <%= link_to idea_mandarat_new_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Mandarat</div>
        <div class="techname_ja">マンダラート</div>
        <div><i class="expand arrows alternate huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：１人〜
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="mandarat-more-info"></i>もっと詳しく
        <div class="explain">
          ９×９のマス目に連想される<br>語句、または関連語句を記述<br>しアイデアのタネを育てる技法
        </div>
        <hr>
        <div class="recommend_point">
          アイデアの整理や拡大が図れ<br>効果的なアイデアを発掘する<br>ことが可能
        </div>
      </li>
    <% end %>
    <%= link_to idea_word_gacha_edit_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Word GACHA</div>
        <div class="techname_ja">単語ガチャ</div>
        <div><i class="chart pie huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：１人
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="word-gacha-more-info"></i>もっと詳しく
        <div class="explain">
          訳750個の単語が出てくる<br>10連ガチャ<br>語彙ランクでレアリティが変化
        </div>
        <hr>
        <div class="recommend_point">
          ランダムに表示される単語か<br>ら発送の手助けに<br><br>
        </div>
      </li>
    <% end %>
    <%= link_to idea_word_gacha_edit_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Word SLOT</div>
        <div class="techname_ja">単語スロット</div>
        <div><i class="chess king huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：１人
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="word-slot-more-info"></i>もっと詳しく
        <div class="explain">
          <br>約750個の単語が出てくる<br>スロット<br>
        </div>
        <hr>
        <div class="recommend_point">
          単語の組み合わせから自由な<br>発想へ繋がる<br><br>
        </div>
      </li>
    <% end %>
    <li class="horizontal-item category">
      <div class="techname_eng">Developing</div>
      <div class="techname_ja">開発中</div>
      <div><i class="moon huge icon techname_icon"></i></div>
      <div class="recommend_num">
        推奨人数：？人〜？人
      </div>
      <br>
      <i class="question circle outline icon js-modal-open" id="more-info"></i>もっと詳しく
      <div class="explain">
        現在<br>誠意<br>開発中です
      </div>
      <hr>
      <div class="recommend_point">
        楽しみに<br>お待ち<br>ください
      </div>
    </li>
  </ul>
  <div class="modal js-modal" id="memo-modal-window">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p>メモの説明</p>
      <%= image_tag 'memo_info_img', class: 'image_info_memo' %>
      <p class="memo-info-text">①メモのタイトルを入力してください。</p>
      <p class="memo-info-text">②メモの内容を入力してください。</p>
      <p class="memo-info-text">③入力が終わったら「保存」ボタンをクリック！</p>
      <br>
      <br>
      <a class="js-modal-close" href="">閉じる</a>
    </div><!--modal__inner-->
  </div><!--modal-->
  <div class="modal js-modal" id="brainstorming-modal-window">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p>--ブレインストーミングの説明--</p>
      <a class="js-modal-close" href="">閉じる</a>
    </div><!--modal__inner-->
  </div><!--modal-->
  <div class="modal js-modal" id="mandarat-modal-window">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p>--マンダラートの説明--</p>
      <a class="js-modal-close" href="">閉じる</a>
    </div><!--modal__inner-->
  </div><!--modal-->
  <div class="modal js-modal" id="word-gacha-model-window">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p>--単語ガチャの説明--</p>
      <a class="js-modal-close" href="">閉じる</a>
    </div><!--modal__inner-->
  </div><!--modal-->
  <div class="modal js-modal" id="word-slot-model-window">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p>--単語スロットの説明--</p>
      <a class="js-modal-close" href="">閉じる</a>
    </div><!--modal__inner-->
  </div><!--modal-->
</div>