<%= render :partial => 'shared/header' %>

<div class="home_body" id="home_body">
  <div class="history_segment">
    <h1 class="header">Recent Creation (coming soon...)</h1>
    <ul class="histories">

      <% @user.idea.each do |idea| %>
        <a href="<%= @categories[idea.idea_category_id]['manage_name'] + "/edit/" + idea.id %>">
          <li class="history">
            <div><%= idea.idea_name %></div>
            <div><%= @categories[idea.idea_category_id]["idea_category_name"] %></div>
          </li>
        </a>
      <% end %>

    </ul>
  </div>
</div>

<%# JSが書かれているため最後に書くこと %>
<%= render :partial => 'shared/homemenu' %>
