<!-- サイドバーメニュー -->
<div class="ui sidebar inverted vertical menu">
  <%=link_to "デバッグメニュー",:root, class:"active purple item" %>
  <a class="ui item">ユーザID:
    <% if user_signed_in? %>
      <%= current_user.id %>
    <% else %>
      未ログイン
    <% end %>
  </a>
  <% if user_signed_in? %>
    <%= link_to "サインアウト", :account_signout, class: 'active red item' %>
  <% else %>
    <%= link_to "サインイン", :account_signin, class: 'active blue item' %>
    <%= link_to "サインアップ", :account_signup, class: 'active green item' %>
  <% end %>


</div>

<script>
    $('body').keydown(function (e) {
        // alert(JSON.stringify(e.keyCode))
        // Shift + d を入力するとデバッグメニューを表示する
        if (e.shiftKey) {
            if (e.keyCode === 68) {
                $('.ui.sidebar').modal('show');
            }
        }
    });
</script>