<!-- 1 -->
<div class="ui right fixed vertical menu block-edit-sidebar" id="edit_menu">
  <!-- 2 -->
  <div class="item timer">
    <%# TODO: タイマー実装後に削除 %>
    <!-- 時計 -->
    <small>現在時刻</small><br>
    <div id="RealtimeClockArea2" class="timer_min"></div>

    <script>
        if ($(".brainstorming.edit").length > 0) {

            function set2fig(num) {
                // 桁数が1桁だったら先頭に0を加えて2桁に調整する
                var ret;
                if (num < 10) {
                    ret = "0" + num;
                } else {
                    ret = num;
                }
                return ret;
            }

            function showClock2() {
                var nowTime = new Date();
                var nowHour = set2fig(nowTime.getHours());
                var nowMin = set2fig(nowTime.getMinutes());
                var nowSec = set2fig(nowTime.getSeconds());
                var msg = nowHour + ":" + nowMin + ":" + nowSec;
                if ($('#RealtimeClockArea2').length === 0) {
                    clearInterval(timerId)
                } else {
                    document.getElementById("RealtimeClockArea2").innerHTML = msg;
                }
            }

            let timerId = setInterval('showClock2()', 1000);
        }
    </script>

    <%#
    <div class="timer_min">０９：</div>
    <div class="timer_sec">５９</div>
    %>
  </div>
  <!-- 3 -->
  <div class="item explain">
    <div class="header-text">
      <i class="question circle outline icon"></i>ブレインストーミング
    </div>
    <ul class="explain-list">
      <li class="bold">アイデア出し： 無制限</li>
      <li><s>意見だし　　：</s></li>
      <li><s>グルーピング：</s></li>
      <%#
      <li class="bold">アイデア出し：30m</li>
      <li>意見だし　　：10m</li>
      <li>グルーピング：10m</li>
      %>
    </ul>
  </div>
  <!-- 4 -->
  <div class="item participant">
    <div class="header-text">
      参加者
    </div>
    <div class="member">
      <ul class="users">
        <% for user in users %>
          <li id="participant_<%= user.id %>"><i class="user circle icon"><%= user.email %></i></li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- 5 -->
  <!--  <div class="item memo">-->
  <!--    <div class="header-text">-->
  <!--      memo-->
  <!--    </div>-->
  <!--    <textarea class="memo-content"></textarea>-->
  <!--  </div>-->
  <div>
    <h1>Chat room</h1>
    <%= label_tag :content, 'Say something:' %>
    <%= text_field_tag 'idea_chat', nil, data: {behavior: 'idea_speaker'} %>
      <ul class="chat_contents">
        <% for idea_log in @idea_logs %>
          <% if idea_log.query['mode'] == 'chat' %>
            <%#= idea_log.query['chat']['content'] %>
            <li id="contributor_<%= idea_log.id %>"><%= idea_log.query['chat']['content'] %></li>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>