<%# サイドバー %>
<div class="ui left fixed vertical inverted menu" id="home_menu">
  <div class="item">
    <%= image_tag "icon.svg", class: "ui mini imag menu_icon" %>
  </div>
  <%= link_to "ホーム", idea_home_path, class: "item home-menu" %>
  <%= link_to "新規作成", idea_category_path, class: "item home-menu" %>
  <div class="menu">
    <%= link_to "ブレインストーミング", idea_brainstorming_new_path, class: "item home-menu" %>
    <%= link_to "マンダラート(α)", idea_mandarat_new_path, class: "item home-menu" %>
    <%= link_to "メモ", idea_memo_new_path, class: "item home-menu" %>
  </div>
  <%= link_to "履歴", idea_history_path, class: "item home-menu" %>
  <%= link_to "アカウント", profile_edit_path, class: "item home-menu" %>
  <small class="copyright">© 2020 by KUGATech team 5K</small>
</div>
<%# レスポンシブ対応 %>
<%= javascript_pack_tag 'shared', 'data-turbolinks-track': 'reload' %>