<%# 左サイドバー %>
<div class="ui vertical menu left_menu" id="left_menu">
  <a class="item" id="left_menu_hide_button">
    <i class="angle double left icon"></i>折りたたむ
  </a>
  <%= link_to "ホーム", idea_home_path, class: "item" %>
  <%= link_to "新規作成", idea_category_path, class: "item" %>
  <div class="menu">
    <%= link_to "ブレインストーミング", idea_brainstorming_new_path, class: "item" %>
    <%= link_to "マンダラート(α)", idea_mandarat_new_path, class: "item" %>
    <%= link_to "メモ", idea_memo_new_path, class: "item" %>
  </div>
  <%= link_to "履歴", idea_history_path, class: "item" %>
  <%= link_to "アカウント", profile_edit_path, class: "item" %>
</div>

<div class="ui vertical icon menu left_menu" id="left_icon_menu">
  <a class="popup item" id="left_menu_show_button" data-content="メニューを開く" data-position="right center">
    <i class="angle double right icon"></i>
  </a>
  <a class="popup item" href="<%= idea_home_path %>" data-content="ホーム" data-position="right center">
    <i class="home icon"></i>
  </a>
  <a class="popup item" href="<%= idea_category_path %>" data-content="新規作成" data-position="right center">
    <i class="plus square outline icon"></i>
  </a>

  <a class="popup item" href="<%= idea_history_path %>" data-content="履歴" data-position="right center">
    <i class="history icon"></i>
  </a>
  <a class="popup item" href="<%= profile_edit_path %>" data-content="設定" data-position="right center">
    <i class="user circle icon"></i>
  </a>
</div>