<h1>Memo#new</h1>
<p>Find me in app/views/memo/new.html.erb</p>

<%= form_with model: @memo, local: true, url: idea_memo_path do |f| %>

  <% if @memo.errors.any? %>
    <h3>入力した内容にエラーが<%= @memo.errors.count %>件あります</h3>
    <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <!-- idea_category_idにメモのIDを設定する -->
  <!-- 今回はテストのメモのIDが1のため、第二引数に1を設定 -->
  <%= f.hidden_field :idea_category_id, :value => 1 %>

  <p>
    <%= f.label :idea_name %>
    <%= f.text_field :idea_name %>
  </p>

  <p>
    <%= f.label :idea_description %>
    <%= f.text_field :idea_description %>
  </p>

  <%= f.submit %>

<% end %>