<%= render :partial => 'shared/header' %>
<%= javascript_pack_tag 'memo/memo_new' %>

<div class="home_body" id="home_body">
  <%# 右部のメモ一覧 %>
  <div class="ui right fixed vertical menu block-edit-sidebar memo_sidebar">
    <%= render partial: 'shared/memomenu', collection: @user_memo.reverse, as: "memo" %>
  </div>
  <%#TODO 左側が空いているのが気になる %>
  <div class="ui container">
    <% if @info_message.present? %>
      <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">
          <%= @info_message %>
        </div>
      </div>
    <% end %>
    <%= form_with model: @memo, class: 'ui form memo_form', local: true, url: idea_memo_path do |f| %>
      <div class="fields">
        <div class="sixteen wide field">
          <label>タイトル</label>
          <%= f.text_field :idea_name, placeholder: "メモに名前をつけてください", class: 'field', :required => true, id: 'memo-title' %>
        </div>
      </div>
      <div class="fields">
        <%= f.hidden_field :idea_category_id, :value => 1 %>
        <div class="sixteen wide field">
          <label>内容</label>
          <%= f.text_area :idea_description, placeholder: "メモを書きましょう", class: 'required field', :required => true, id: 'memo-content' %>
        </div>
      </div>
      <%= f.submit '保存 ', class: "ui black button" ,id: 'memo-submit' %>
    <% end %>
  </div>
</div>

<%# JSが書かれているため最後に書くこと %>
<%= render :partial => 'shared/homemenu' %>